---
import { categoriasPrincipales } from "../lib/fetch";

---

<section class="main">
    {
        categoriasPrincipales.map( ( item ) => {    
            return (           
                <div id={item?.slug} style={`background-image: url(${item?.image?.sourceUrl})`}>
                    <p><a href={`/productos/${item?.slug}`}></a>{item?.name}</p>
                </div>
                )
        })
    }
    
</section>

<style>
    .main{
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        min-width: 600px;
        max-width: 800px;
        min-height: 600px;
        height: 600px;
        flex-wrap: wrap;
    }

    .main div{
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }

    .main div:first-child{
        height: 100%;
        width: 45%;
       
    }

    .main div:nth-child(2){
        height: 50%;
        width: 45%;
    }
    .main div:nth-child(3){
        height: 25%;
        width: 45%;
    }
    .main div:last-child{
        height: 25%;
        width: 45%;
    }
</style>
